@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #fff;

    --primary-font: 'Open Sans', sans-serif;
    --header-font: 'Raleway', sans-serif;

    --primary-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
}

.container {
    width: 1352px;
    margin: 0 auto;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-grey);
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    padding: 22px;
}

a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

header {
    width: 100vw;
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;

    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-transform: uppercase;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 22px;
}

.logo {
    font-family: var(--header-font);
    font-weight: 300;
    font-size: 2em;
    color: var(--color-primary)
}

